.contact__us{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}
.contact__text{
    width: 400px;
  
}
.contact__form{
    width: 370px;
    /* background-color: yellow; */
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: rgba(211, 211, 211, 0.295);
}
.contact__form input,textarea{
    padding: 5px;
    margin: 5px;
    width: 95%;
    height: 20px;
    border-radius: 3px;
    border:1px solid lightgray;
}
.contact__form textarea{
    height: 100px;
}
.contact__btn{
    width: 280px;
    height: 30px;
    background-color:aqua;
    color:white;
    border-radius: 5px;
    border:2px solid lightgray;
}